/*.login-rich-content {
    background-image: url("../../../src/main/resources/META-INF/resources/Images/MilleBorne.png");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 500px;
}
.login-rich-content vaadin-login-form {
    align-items: center;
    display: flex;
    max-width: 300px;
}
.login-rich-content vaadin-login-form-wrapper {
    background-image: none;
}*/
body{
    background-image:url("./Images/MilleBorne.png");
}
.footer {
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    margin-block: 25px 10px;
    font-size:13px;
}

.div_carte_joueur {
    display: inline-flex;
    padding-left: 3em;
    padding-right: 3em;
}

.pioche{
    top: 40%;
    left: 40%;
    position: fixed;
}

.defausse{
    border:3px solid black;
    top: 30%;
    left: 50%;
    position: fixed;
    width: 117px;
    height: 200px;
}

.depot_joueur{
    border:3px solid black;
    top: 40%;
    left: 30%;
    position: fixed;
    width: 117px;
    height: 200px;
}

.depot_joueur2{
    border:3px solid black;
    top: 2%;
    left: 30%;
    position: fixed;
    width: 117px;
    height: 200px;
}

